BankClient/BankClient/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50869/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50869/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50869/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankService" />
      <xsd:import schemaLocation="http://localhost:50869/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IService1_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCalculator_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCalculator" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCalculator_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCalculatorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDeposits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDeposits" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDeposits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepositsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDepositsRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepositsRates" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDepositsRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepositsRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInfoByUserEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoByUserEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInfoByUserEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoByUserEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmailsByOperationType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailsByOperationType" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmailsByOperationType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailsByOperationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCredits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCredits" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCredits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCreditsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCredit" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCreditResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateDeposit_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDeposit" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateDeposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDepositResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserIDByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserIDByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDByEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogIn" message="tns:IService1_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogInResponse" message="tns:IService1_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCalculator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateCalculator" message="tns:IService1_UpdateCalculator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateCalculatorResponse" message="tns:IService1_UpdateCalculator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterUser" message="tns:IService1_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterUserResponse" message="tns:IService1_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDeposits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllDeposits" message="tns:IService1_GetAllDeposits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllDepositsResponse" message="tns:IService1_GetAllDeposits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepositsRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllDepositsRates" message="tns:IService1_GetAllDepositsRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllDepositsRatesResponse" message="tns:IService1_GetAllDepositsRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoByUserEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetInfoByUserEmail" message="tns:IService1_GetInfoByUserEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetInfoByUserEmailResponse" message="tns:IService1_GetInfoByUserEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailsByOperationType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmailsByOperationType" message="tns:IService1_GetEmailsByOperationType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmailsByOperationTypeResponse" message="tns:IService1_GetEmailsByOperationType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCredits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllCredits" message="tns:IService1_GetAllCredits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllCreditsResponse" message="tns:IService1_GetAllCredits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateCredit" message="tns:IService1_CreateCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateCreditResponse" message="tns:IService1_CreateCredit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDeposit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateDeposit" message="tns:IService1_CreateDeposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateDepositResponse" message="tns:IService1_CreateDeposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIDByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserIDByEmail" message="tns:IService1_GetUserIDByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserIDByEmailResponse" message="tns:IService1_GetUserIDByEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IService1/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCalculator">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateCalculator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDeposits">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllDeposits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepositsRates">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllDepositsRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoByUserEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetInfoByUserEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailsByOperationType">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmailsByOperationType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCredits">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllCredits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCredit">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDeposit">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateDeposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIDByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserIDByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50869/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>