BankClient/BankClient/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCalculations" nillable="true" type="tns:ArrayOfUserCalculator" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUserCalculator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserCalculator" nillable="true" type="tns:UserCalculator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserCalculator" nillable="true" type="tns:ArrayOfUserCalculator" />
  <xs:complexType name="UserCalculator">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserCalculatorID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCalculator" nillable="true" type="tns:UserCalculator" />
  <xs:complexType name="ArrayOfDeposit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Deposit" nillable="true" type="tns:Deposit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeposit" nillable="true" type="tns:ArrayOfDeposit" />
  <xs:complexType name="Deposit">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepositID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Partial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rates" nillable="true" type="tns:ArrayOfRate" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deposit" nillable="true" type="tns:Deposit" />
  <xs:complexType name="ArrayOfRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rate" nillable="true" type="tns:Rate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRate" nillable="true" type="tns:ArrayOfRate" />
  <xs:complexType name="Rate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deposit" nillable="true" type="tns:Deposit" />
      <xs:element minOccurs="0" name="DepositID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Percents" type="xs:int" />
      <xs:element minOccurs="0" name="RateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rate" nillable="true" type="tns:Rate" />
  <xs:complexType name="ArrayOfCredit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Credit" nillable="true" type="tns:Credit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCredit" nillable="true" type="tns:ArrayOfCredit" />
  <xs:complexType name="Credit">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditID" type="xs:int" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credit" nillable="true" type="tns:Credit" />
</xs:schema>