BankClient/BankClient/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>